SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

SPRING_DATA_REDIS_HOST=
SPRING_DATA_REDIS_PORT=
SPRING_DATA_REDIS_USERNAME=
SPRING_DATA_REDIS_PASSWORD=

APPLICATION_SECURITY_JWT_SECRET_KEY=
PROXY_CDN_URL=
SPRING_CORS_ALLOWED_ORIGIN_PATTERNS=

FIREBASE_STORAGE_BASE_URL=
FIREBASE_STORAGE_CONFIG_PATH=
FIREBASE_STORAGE_CONFIG_BASE64=
FIREBASE_STORAGE_BUCKET_NAME=

BACKBLAZE_S3_ENDPOINT=
BACKBLAZE_S3_REGION=
BACKBLAZE_S3_ACCESS_KEY_ID=
BACKBLAZE_S3_SECRET_ACCESS_KEY=
BACKBLAZE_S3_BUCKET_NAME=
BACKBLAZE_S3_WORKER_SHARED_SECRET=